body {
  background-image: linear-gradient(122deg, #3789D6, #39A5D7);
}

.main {
  width: 935px;
  height: 370px;
}

.button {
  width: 100%;
  border-radius: 3px;
  background-color: #317bda;
  text-transform: none;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.error {
  color: red;
  border-color: red;
}