.welcome {
  width: auto;
  height: 799px;
  background-image: linear-gradient(122deg, #3789D6, #39A5D7);
  position: relative;
}

.nav {
  height: 30px;
  background-color: #fff;
  opacity: 0.12;
}

.logo {
  width: 86.1px;
  height: 100px;
  background-image: url("../../images/logo-white.svg");
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  top: 90px;
}