.signup {
  width: 350px;
  height: 332px;
  position: absolute;
  //top: 40%;
  left: 50%;
  margin: auto;
}

.title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #5b7289;
}

.row {
  margin-bottom: 0;
}

p {
  display: flex;
  justify-content: space-between;
}

a {
  font-size: 12px;
  color: #5b7289;
}

.button {
  width: 100%;
  margin-top: 30px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.errormessage {
  font-size: 10px;
  color: red;
}